@page "/Brands"
@if (loading)
{
    <Loading />
}
else
{
    <MudTable Items="@lstBrand"
              @ref="table"
              ServerData="LoadListAsync"
              Dense="true"
              Hover="true"
              Striped="true"
              FixedHeader="true"
              FixedFooter="true">
        <ToolBarContent>
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h5" Class="me-4"> Marca</MudText>
                <MudButton Variant="Variant.Outlined"
                           EndIcon="@Icons.Material.Filled.Add"
                           Color="Color.Success"
                           OnClick="@(() => ShowModalCreateAsync())">
                    Nuevo
                </MudButton>
            </div>
            <MudSpacer />
            <FilterComponent ApplyFilter="SetFilterValue" />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Nombre</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Name</MudTd>
            <MudTd>

                <MudTooltip Text="Editar">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Warning"
                               OnClick="@(() => ShowModalEditAsync(context.Id))">
                        <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    </MudButton>
                </MudTooltip>

                <MudTooltip Text="Eliminar">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Error"
                               OnClick="@(() => DeleteAsync(@context))">
                        <MudIcon Icon="@Icons.Material.Filled.Delete" />
                    </MudButton>
                </MudTooltip>

           @*      <MudTooltip Text="Detalle">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               OnClick="@(() => ShowModalDetailAsync(context.Id))">
                        <MudIcon Icon="@Icons.Material.TwoTone.DensitySmall" />
                    </MudButton>
                </MudTooltip> *@

            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>No hay registros para mostrar...</MudText>
        </NoRecordsContent>
        <PagerContent>
            <MudTablePager RowsPerPageString=Número de Registros:
                           PageSizeOptions="pageSizeOptions"
                           AllItemsText=Todos
                           InfoFormat="@infoFormat" />
        </PagerContent>
    </MudTable>
}