@page "/Customers"
@if (loading)
{
    <Loading />
}
else
{
    <MudTable Items="@lstCustomer"
              @ref="table"
              ServerData="LoadListAsync"
              Dense="true"
              Hover="true"
              Striped="true"
              FixedHeader="true"
              FixedFooter="true">
        <ToolBarContent>
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h6" Class="me-4"> Marca</MudText>
                <MudButton Variant="Variant.Outlined"
                           EndIcon="@Icons.Material.Filled.Add"
                           Color="Color.Success" OnClick="@(() => ShowModalCreateAsync())">
                    Nuevo
                </MudButton>
            </div>
            <MudSpacer />
            <FilterComponent ApplyFilter="SetFilterValue" />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Tipo Doc</MudTh>
            <MudTh>Documento</MudTh>
            <MudTh>Nombres</MudTh>         
            <MudTh>Celular</MudTh>          
            <MudTh>Cliente desde</MudTh>         
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.DocumentType!.Name </MudTd>
            <MudTd>@context.Document</MudTd>
            <MudTd>@context.FirstName @context.LastName</MudTd>
            @* <MudTd> @EnumHelper.GetGender(@context.gender)</MudTd> *@
            <MudTd>@context.phone</MudTd>
            <MudTd>@context.ClientSince</MudTd>
            <MudTd>
                <MudTooltip Text="Detalle">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Success"
                               OnClick="@(() => ShowModalDetailAsync(context.Id))">
                        <MudIcon Icon="@Icons.Material.TwoTone.DensitySmall" />
                    </MudButton>
                </MudTooltip>
                <MudTooltip Text="Editar">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Warning"
                               OnClick="@(() => ShowModalEditAsync(context.Id))">
                        <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    </MudButton>
                </MudTooltip>
                <MudTooltip Text="Eliminar">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Error"
                               OnClick="@(() => DeleteAsync(@context))">
                        <MudIcon Icon="@Icons.Material.Filled.Delete" />
                    </MudButton>
                </MudTooltip>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>No hay registros para mostrar...</MudText>
        </NoRecordsContent>
        <PagerContent>
            <MudTablePager RowsPerPageString=Número de Registros:
                           PageSizeOptions="pageSizeOptions"
                           AllItemsText=Todos
                           InfoFormat="@infoFormat" />
        </PagerContent>
    </MudTable>
}